:root{
     --primary: #6AECE1
    --secondary: #26CCC2
    --third: #FFF57E
    
    
   
}








/*body{
    background-color: #FFF57E;

}
h1,h2{
    background-color: #6AECE1;
}
p{
    background-color: #26CCC2;
}
*/
